.nested-fields
  %br
  .row

    = f.input :person_id, as: :hidden, input_html: {value: params[:id]}
    .col-md-4
      .form-group

        = f.input :price, class: 'form-control'

    .col-md-4
      .form-group

        = f.input :name_service, class: 'form-control'
  %br
  = link_to_remove_association "Удалить услугу", f, class: 'btn btn-danger'
  %br
