= simple_form_for @file_car, html: { class: 'col-md-6 col-md-offset-3 text-center', role: 'form1' } do |f|
  .well
    .row
      .col-md-4
        .form-group
          = f.file_field :avatars, multiple: true
  %br/
  .form-actions
    = link_to "Назад", Person.find(params[:id]),  class: 'btn btn-primary'
    = f.submit "Сохранить", class: 'btn btn-primary'
